<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for item in books%}
<ul>
    <li type ="circle">{{item.title}} - {{item.price}}</li>
</ul>
{% endfor%}

<h1> libro: {{book}}</h1>
<h1> libro: {{resfilter2}}</h1>
<h1> libro: {{resfilter3}}</h1>
<h1> libro: {{resfilter4}}</h1>
<h1> libro: {{resfilter5}}</h1>
<h1> libro: {{resfilter6}}</h1>
<h1> libro: {{resfilter7}}</h1>
<h1> libro: {{resfilter8}}</h1>
<h1> libro: {{resfilter9}}</h1>
</body>
</html>